/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 

.logo{
  
  height: 80%;
}
.appbar{
  display:flex;
  height:40px;
  background-color:#f7d736 ;
  align-items: center;
  justify-content: start;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.subtitle{
  font-size: 9pt;
  padding-left: 10px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-card{
  width:30%;
  content: "";
  padding: 10px;

  margin-top: 20px;

  display:flex;
  flex-direction: column;
  border-radius: 0 2px 2px 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.form-card-title{
  border-width: 0;
  font-size: 14pt;
  padding-bottom: 5px;
}

.autoresize{
  border-width: 0;
  resize: none;
  letter-spacing: 1px;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  padding-top: 15px;

}

.card{
  width: 14%;
  padding:5px;
  margin:10px 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  
}

.card-title{
  font-family: 'Permanent Marker', cursive;
  padding-bottom: 10px;
    
  height: 20%;
}

.card-content{
  font-family: 'Permanent Marker', cursive;
  color: #4c4c4c;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;  
  height: 75%;
  padding-bottom: 10px;
}


